.main-header {
  background-color: #1c2f3d;

  color: white;
  margin-bottom: .1rem;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;           
  margin: 0 auto;        
  padding: 0rem 1rem 0 1rem;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}
