@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  width: 100%;
  padding-right: 5%;
  min-height:100vh;
  height: 100vh; /* importante para fixar a altura */
  font-family: Arial, sans-serif;
  border: #aaa solid 1px;
  z-index: 1;
}

.chat-title {
  margin-bottom: 1rem;
}

.chat-box {
  flex-grow: 1;       /* para ocupar espaço disponível */
  width: 90%;
  overflow-y: auto;   /* scroll só aqui */
  box-shadow: 0 2px 6px rgba(252, 253, 255, 0.1);
  min-height: 0;      /* muito importante para permitir scroll dentro de flex */
}

.chat-messages {
  list-style: none;
  padding: 0;
  margin: 0;
}
.message-content {
  background-color: #47474718;
  color: #fff;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  max-width: 80%;

  word-wrap: break-word;
}

/* Estilizando a scrollbar para navegadores WebKit (Chrome, Edge, Safari) */
.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.chat-box::-webkit-scrollbar-thumb {

  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.chat-box::-webkit-scrollbar-thumb:hover {
  background-color: #388e3c;
}

/* Firefox */
.chat-box {
  scrollbar-width: 1rem;
  scrollbar-color: #0f0f0f rgb(46, 46, 46);
}

.chat-message {
  margin-bottom: 0.75rem;
  margin-left: 1rem;
  gap: 0.5rem;
  align-items: left;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.message-actions {
  display: none;
  top: 5px;
  right: 5px;
  gap: 8px;
  margin-left: 50px;
}
.editing-text{
  color: #fff;
  font-size: .8rem;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

.edit-input{
  color: #fff;
  background-color: #313131;
  font-size: .8rem;
  font-weight: 100;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
}
.message-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 4px;
  margin-left: 4px;
  color: #666;
  border-radius: 10px;
  background-color: #4b4b4b;
  transition: color 0.2s;
}

.message-icon-button:hover {
  color: rgb(189, 182, 182); /* ou outra cor dependendo do ícone */
}
.message-content:hover .message-actions {
  display: flex;
}

.message-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.timestamp {
  color: #aaa;
  font-size: 0.5rem;
  margin-left: 0.5rem;
  align-content: top;
}
.chat-input-area {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
}

.chat-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  z-index: 999; /* make sure it's above other elements */
  position: sticky;
  background-color: #0f0f0f;
}
.chat-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px 5px 5px 5px;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  margin-right: .1rem;
}

.chat-button {
  padding: 0 1rem;
  background-color: #313131;
  color: white;
  border: none;
  border-radius: 5px 5px 5px 5px;
  font-size: 1rem;
  cursor: pointer;
}

.chat-button:hover {
  background-color: #8f8f8f;
}

.chat-error {
  color: red;
  margin-top: 1rem;
}

.message-header{
  display:  flex;
  align-items:  center;
}

.message_display_name{
  color: #fff;
  text-align: start;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.message_text{
  color: #fff;
  font-size: .8rem;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

.chat-image {
  width: 600px;
  height: 400px; /* quadrado inicialmente */
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.5s ease;
  cursor: pointer;
  display: block;
  overflow: hidden;
    margin-left: 3rem;
}

.chat-image:hover {
  height: 1000px; /* aumenta verticalmente e revela a imagem inteira */
  object-fit: fill; /* mostra a imagem completa dentro do box */
}
.chat-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.image-upload-container {
  position: relative;
  display: inline-block;
  margin-right: .1rem;
}
.image-upload-container {
  position: relative;
  display: inline-block;
}

.chat-image-upload {
  background-color: #2727272d;
  color: white;
  padding: 8px;
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 48px;
  height: 48px;
  border-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.chat-image-upload:hover {
  background-color: #005fa3;
}

.chat-image-upload input[type="file"] {
  display: none;
}

.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.remove-btn {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}